{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint",
        "import",
        "typescript-sort-keys"
    ],
    "env": {
        "browser": true,
        "jest": true,
        "jquery": true
    },
    "extends": [
        "airbnb-typescript",
        "plugin:react-hooks/recommended"
    ],
    "rules": {
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "interface",
                "format": [ "PascalCase" ],
                "custom": {
                    "regex": "^I[A-Z]",
                    "match": false
                }
            }
        ],
        "@typescript-eslint/strict-boolean-expressions": [
            "error", {
                "allowString": false,
                "allowNumber": false,
                "allowNullableObject": false
            }
        ],
        "import/no-unresolved": "error",
        "import/prefer-default-export": 0,
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "hrefLeft", "hrefRight" ],
            "aspects": [ "invalidHref", "preferButton" ]
        }],
        "max-len": [
            "error",
            {
                "code": 150,
                "ignoreComments": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "no-bitwise": 0,
        "no-continue": 0,
        "no-nested-ternary": 0,
        "no-plusplus": 0,
        "no-undef": 0,
        "no-underscore-dangle": 0,
        "object-curly-newline": [
            "error", {
                "ObjectExpression": {
                    "multiline": true,
                    "minProperties": 5
                },
                "ObjectPattern": {
                    "multiline": true,
                    "minProperties": 5
                },
                "ImportDeclaration": {
                    "multiline": true
                },
                "ExportDeclaration": {
                    "multiline": true,
                    "minProperties": 5
                }
            }
        ],
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "*",
                "next": "return"
            },
            {
                "blankLine": "always",
                "prev": "if",
                "next": "*"
            }
        ],
        "sort-keys": [
            "error",
            "asc",
            {
                "caseSensitive": true,
                "natural": true
            }
        ],
        "space-unary-ops": [
            "error",
            {
                "words": true,
                "nonwords": false,
                "overrides": {
                    "!": true
                }
            }
        ],
        "react/jsx-one-expression-per-line": 0,
        "react/jsx-props-no-spreading": 0,
        "react/prop-types": 0,
        "typescript-sort-keys/interface": [
            "error",
            "asc",
            {
                "natural": true,
                "requiredFirst": true
            }
        ],
        "typescript-sort-keys/string-enum": [
            "error",
            "asc",
            {
                "natural": true
            }
        ]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [ ".ts", ".tsx" ]
        },
        "import/resolver": {
            "typescript": { }
        }
    }
}
